{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "existing_secrets_manager_instance_crn": $SM_CRN,
  "certificate_template_name": $PRIVATE_CERT_TEMPLATE_NAME,
  "cert_common_name": $DNS_CLOUD_DOMAIN,
  "provider_visibility": "public",
  "vpn_server_routes": ["0.0.0.0/0"],
  "remote_cidr": "10.10.120.0/24",
  "vpn_subnet_cidr_zone_1": "10.10.40.0/24",
  "vpn_subnet_cidr_zone_2": "10.10.80.0/24"
}
